<div class="container mt-5">
      <h1 class="text-center">{{message}}</h1>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <table class="table custom-table text-dark">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center fw-bold">
                            ТЕЛЕФОННЫЙ СПРАВОЧНИК (Console Phone Book)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            Консольное приложение «Телефонный справочник», реализованное с использованием паттерна MVC (Model–View–Controller). 
                            Проект предназначен для хранения, просмотра, поиска, создания, изменения и удаления контактов.
                        </td>
                    </tr>

                    <tr>
                        <th colspan="2" class="text-center">ВОЗМОЖНОСТИ</th>
                    </tr>

                    <tr>
                        <td class="text-center">1</td>
                        <td>Просмотр всех контактов</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Поиск контакта по различным полям (имя, телефон)</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Добавление нового контакта</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Изменение существующего контакта</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td>Удаление контакта по номеру телефона</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>